.parent {
    justify-content: space-between;
    display: flex;
}

.vagter {
}

.bookvagt {
}

.brugervagter {
}

.overskriftparent {
    justify-content: space-between;
    display: flex;
}

.egen {
}

.update {
    margin-right: 29.5%;
}


.profilparent {
    justify-content: space-between;
    display: flex;
}

.brugerprofil {
}

.updateprofil {
    margin-left: 2%;
    width: 200%;
}


.kompetenceparent {
    justify-content: space-between;
    display: flex;
}

.updatekompetencer {
    width: 29%;
}

.kompetencer {
    width: 30%;
    margin-right: 40%;
}



table, th, td {
    text-align: center;
    border: 1px solid black;
    width: 40%;
}

td {
}
