.parent {
    justify-content: space-between;
    display: flex;
}

.vagter {
}

.bookvagt {
}

.brugervagter {
}


.profilparent {
    overflow: hidden;
}

.brugerprofil {
    float: left;
}

.updateprofil {
    margin-left: 50%;
    width: 100%;
}


.kompetenceparent {
    overflow: hidden;
}

.kompetencer {
    width: 100%;
    float: left;
}

.updatekompetencer {
    margin-left: 50%;
    width: 100%;
}



table, th, td {
    text-align: center;
    border: 1px solid black;
    width: 40%;
}

td {
}
