.parent {
    display: flex;
    justify-content: space-between;
}

.vagter {
}

.bookvagt {
    margin-left: 10%;
    width: 200%;
}

.brugervagter {
    width: 50%;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
}

td {
}
