@inject Blazored.LocalStorage.ILocalStorageService localStore
@page "/"

<PageTitle>Home page</PageTitle>

<h1>Misfits Festival</h1>

<div class="brugerId">

    Velkommen til Misfits Festivals digitale hjemmeside!
    <br />
    <br />
    Skriv herunder dit rolle id:
    <br />
    <input @bind="homeBrugerId" />
    <br />
    <button @onclick="UpdateLocalStorage">Save</button>
    <button @onclick="ClearLocalStorage">Clear</button>

</div>

@code{
    const string noteKey = "note";
    string homeBrugerId = "";
    public async void UpdateLocalStorage()
    {
        await localStore.SetItemAsync(noteKey, homeBrugerId);
    }

    public async void ClearLocalStorage()
    {
        homeBrugerId = "";
        await localStore.ClearAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        homeBrugerId = await localStore.GetItemAsync<string>(noteKey);
    }
    }
