@using System;
@using System.Net;
@using misfits_festival.Shared.Models;
@using Dapper;
@using Npgsql;
@using misfits_festival.Client.Services;
@using misfits_festival.Client.Pages;
@using System.Net.Http;

@inject Blazored.LocalStorage.ILocalStorageService localStore
@page "/"

<div class="page-background-page">
    <div class="header">
    Misfits Festival
    </div>
 

<div class="brugerId">

    <!--Følgende kode bruges til at gemme en brugers login info i localStorage det kan bruges på andre sider-->
    Velkommen til Misfits Festivals digitale hjemmeside!
    <br />
    <br />
    Skriv din email herunder:
    <br />
    <input @bind="brugerEmail" />
    <br />
    <button @onclick="UpdateLocalStorage">Login</button>
    <button @onclick="ClearLocalStorage">Clear</button>
    <br />
    <br />
    Hvis du ikke har en bruger email, henvises til siden <a href="https://misfitsfestivalapp.azurewebsites.net/nybruger">opret bruger</a>.

</div>
</div>
@code{
    // key og string til opdatering af email'en der skal stå gemmes i localstorage
    const string noteKey = "note";
    string brugerEmail = "";

    public async void UpdateLocalStorage() // opdaterer det der står gemt i localStorage
    {
        await localStore.SetItemAsync(noteKey, brugerEmail);
    }

    public async void ClearLocalStorage() // clear'er det der står gemt i localStorage
    {
        brugerEmail = "";
        await localStore.ClearAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        // brugerEmail opdateres til at indeholde data fra localStorage
        brugerEmail = await localStore.GetItemAsync<string>(noteKey);
    }
}