@inject Blazored.LocalStorage.ILocalStorageService localStore
@page "/"

<PageTitle>Home page</PageTitle>

<h1>Misfits Festival</h1>

<div class="brugerId">

    Velkommen til Misfits Festivals digitale hjemmeside!
    <br />
    <br />
    Skriv dit bruger id herunder:
    <br />
    <input @bind="brugerId" />
    <br />
    <button @onclick="UpdateLocalStorage">Save</button>
    <button @onclick="ClearLocalStorage">Clear</button>
    <br />
    Hvis du ikke har et bruger id, henvises til siden 'Opret ny bruger'.

</div>

@code{
    const string noteKey = "note";
    string brugerId = "";
    public async void UpdateLocalStorage()
    {
        await localStore.SetItemAsync(noteKey, brugerId);
    }

    public async void ClearLocalStorage()
    {
        brugerId = "";
        await localStore.ClearAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        brugerId = await localStore.GetItemAsync<string>(noteKey);
    }
    }
