@using System;
@using System.Net;
@using misfits_festival.Shared.Models;
@using Dapper;
@using Npgsql;
@using misfits_festival.Client.Services;
@using misfits_festival.Client.Pages;
@using System.Net.Http;

@page "/nyopgave"

<h3>Opret ny opgave</h3>

<div class="opretopgave">
    <EditForm EditContext="@EditContext" class="row p-3">

        <div class="col-md-12 mb-3">
            <label for="OpgaveBeskrivelse">Opgave beskrivelse</label>
            <InputText id="OpgaveBeskrivelse" @bind-Value="Opgave.OpgaveBeskrivelse" class="form-control" />
        </div>

        <br />

        <div class="col-12 mb-3">
            <button class="btn btn-primary" @onclick="AddOpgaveHandler">Tilføj ny vagt</button>
        </div>

    </EditForm>
</div>


@code {
    private EditContext EditContext;
    private Opgave Opgave = new Opgave();

    private int ErrorCode { get; set; }

    [Inject]
    public IKoordinatorService Service { get; set; }


    protected override void OnInitialized()
    {
        EditContext = new EditContext(Opgave);
    }

    private async Task AddOpgaveHandler()
    {
        ErrorCode = await Service.AddOpgave(Opgave);
        Console.WriteLine("Vagt tilføjet: " + ErrorCode);
        Opgave = new Opgave();
        EditContext = new EditContext(Opgave);
    }
}
